.home {
	height: 100vh;
	padding: 0 30px;
	flex: 0.9;
	overflow-y: overlay;
	color: white;
}
.home::-webkit-scrollbar {
	display: none;
}
.home__cardContainer::-webkit-scrollbar {
	display: none !important;
}
.home__cardContainer {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 10px;
}

.home__categories:last-child {
	margin-bottom: 100px;
}
